
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2 style="text-align:center">Quy Định Phòng Mạch</h2>
<div ng-app="KendoDemos" ng-controller="MyCtrl">
    <div style="margin-bottom:7px">
        <label class="DonVi-label" for="DonVi" style="margin-left:15px">Mục:</label>
        <select id="cbbLoaiThuoc" kendo-combo-box
                k-placeholder="'Chọn mục..'"
                k-data-text-field="'GhiChu'"
                k-data-value-field="'GhiChu'"
                k-filter="'contains'"
                k-auto-bind="true"
                k-min-length="3"
                k-data-source="DinhNghia"
                ng-model="itemSearch.GhiChu" style="width:200px"></select>
        
       
        <kendo-button type="button" class="btn btn-primary" id="btnLoc" ng-click="LocGiaTri()" style="margin-right:80px">Lọc</kendo-button>&nbsp;
        <kendo-button type="button" class="btn btn-primary" id="btnThem" ng-click="ThemGiaTri()">Thêm</kendo-button>&nbsp;
        <kendo-button type="button" class="btn btn-primary" id="btnExcel" ng-click="ExportExcel()">Export</kendo-button>&nbsp;
        <kendo-button type="button" class="btn btn-primary" id="btnImport" ng-click="ImportExcel()">Import</kendo-button>&nbsp;
    </div>
    <div id="CreateGiaTriMacDinh" style="display: none">
        @Html.Partial("CreateGiaTriMacDinh")
    </div>
    <div class="container-fluid content">
        <div id="grid"></div>
    </div>

    <script type="text/x-kendo-template" id="toolBarTemplate">
    </script>

    <script src="~/Scripts/View/GiaTriMacDinh.js"></script>
</div>
