
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Tủ Thuốc</h2>
<div ng-app="KendoDemos" ng-controller="MyCtrl">
    <div style="margin-bottom:7px">
        <label class="DonVi-label" for="DonVi" style="margin-left:15px">Loại Thuốc :</label>
        <select id="cbbLoaiThuoc" kendo-combo-box
                k-placeholder="'Chọn Loại Thuốc..'"
                k-data-text-field="'GiaTri'"
                k-data-value-field="'GiaTri'"
                k-filter="'contains'"
                k-auto-bind="true"
                k-min-length="3"
                k-data-source="LoaiThuoc"
                ng-model="itemSearch.LoaiThuoc" style="width:200px"></select>
        <label class="DonVi-label" for="DonVi" style="margin-left:30px">Tên thuốc</label>
        <input type="text" id="txtTenThuoc" name="txtTenThuoc" class="k-textbox ng-pristine ng-valid k-valid ng-touched" style="width:100%" ng-model="itemSearch.Thuoc" />
        <kendo-button type="button" class="btn btn-primary" id="btnLoc" ng-click="LocThuoc()" style="margin-right:80px">Lọc</kendo-button>&nbsp;
        <kendo-button type="button" class="btn btn-primary" id="btnThem" ng-click="ThemThuoc()">Thêm</kendo-button>&nbsp;
        <kendo-button type="button" class="btn btn-primary" id="btnExcel" ng-click="ExportExcel()">Export</kendo-button>&nbsp;
        <kendo-button type="button" class="btn btn-primary" id="btnImport" ng-click="ImportExcel()">Import</kendo-button>&nbsp;
    </div>
    <div id="CreateThuoc" style="display: none">
        @Html.Partial("CreateThuoc")
    </div>
    <div class="container-fluid content">
        <div id="grid"></div>
    </div>
    <div id="windowConfirm">
        <div id="messageConfirm" style="padding:0px 5px; min-height: 40px;"></div>
        <div style="text-align: center;">
            <button class="k-button delete-confirm" id="yesButton">Đồng ý</button>
            &nbsp;&nbsp;&nbsp;
            <button class="k-button delete-cancel" id="noButton"> Hủy bỏ</button>
        </div>
    </div>
    <div id="windowImport" style="display: none">
        <div id="bodyTotal">
            <div class="btBody container-fluid">
                    <div class="col-md-12">
                        <input name="files" 
                               type="file"
                               kendo-upload
                               showFileList="false"
                               
                               k-async="{ saveUrl: '/Thuoc/SaveImportYeuCau',removeUrl: '#' ,autoUpload: true }"
                               k-select="selectFileImport"
                               k-success="uploadSuccessImport" />
                    </div>
                    <div class="col-md-12" align="center">
                        <a href="#" target="_blank">Download File Excel mẫu</a>
                    </div>
                </div>
            </div>
        </div>

   
    <script type="text/x-kendo-template" id="toolBarTemplate">
    </script>
    <script src="~/Scripts/View/Thuoc.js"></script>
</div>

