
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid content">
    <div id="grid"></div>
</div>
<div id="windowConfirm">
    <div id="messageConfirm" style="padding:0px 5px; min-height: 40px;"></div>
    <div style="text-align: center;">
        <button class="k-button delete-confirm" id="yesButton">Đồng ý</button>
        &nbsp;&nbsp;&nbsp;
        <button class="k-button delete-cancel" id="noButton"> Hủy bỏ</button>
    </div>
</div>
<h2>Index</h2>

