<style>
    .newspace {
        padding-bottom: 10px;
    }

    .ui-notification {
        z-index: 99999;
        width: 500px;
        /*text-align: center;*/
    }

    .mini_grown {
        width: 100%;
        padding-bottom: 20px;
        margin-bottom: 10px;
    }

    #windowHinhDuAn {
        overflow: hidden !important;
    }

    #txtGhiChu {
        height: 50px;
        width: 100% !important;
    }

    #txtYeuCau {
        height: 100px;
        width: 99% !important;
    }


    .col-md-2 {
        width: 13.7%;
    }

    .col-md-9 {
        width: 81%;
    }

    #windowDuAnChiTiet {
        overflow: hidden;
    }

    #windowImportCanHo {
        overflow-x: hidden;
    }
    /*.k-widget.k-tooltip-validation {
        position: absolute;
        display: block;
        position: absolute;
        left: 0px;
        top: -24px;
    }*/
    /*.k-numerictextbox .k-icon {

        display: inline-block;
        height: 1em;
    }*/
    .k-picker-wrap.k-state-default > .k-widget.k-tooltip-validation, .k-numeric-wrap.k-state-default > .k-widget.k-tooltip-validation {
        display: block;
        position: absolute;
    }
</style>
<div id="bodyTotal" style="overflow:hidden">
    <form kendo-validator="validator" ng-submit="validate($event)">
        <div class="btbody">
            <div class="row newspace">
                <div class="col-md-4 row">
                    <div class="col-md-4" style="text-align:right;padding-top:5px;padding-left:0px;">Khách Hàng</div>
                    <div class="col-md-6">
                        <select id="cbbLoaiThuoc"
                                kendo-combo-box
                                k-data-text-field="'GiaTri'"
                                k-data-value-field="'GiaTri'"
                                k-filter="'contains'"
                                k-auto-bind="true"
                                k-min-length="3"
                                k-data-source="GioiTinh"
                                validationmessage="Vui lòng chọn {0}"
                                ng-model="itemAdd.GioiTinh"
                                style="width: 100%"
                                class="ng-valid ng-valid-required"
                                data-role="combobox" aria-disabled="false"></select>
                        @*ng-untouched ng-pristine*@
                    </div>
                </div>
                <div class="col-md-7 row">
                    <div class="col-md-3" style="text-align:right;padding-top:5px;padding-left:0px;">Tên Tên Bệnh Nhân</div>
                    <input type="text" id="txtThuoc" name="txtThuoc" class="k-textbox ng-pristine ng-valid k-valid ng-touched" style="width:100%" ng-model="itemAdd.ten_BenhNhan" />
                </div>
            </div>
            <div class="row newspace">
                <div class="col-md-1" style="text-align:right;padding-top:5px;padding-left:0px;margin-left:32px"> Ngày sinh</div>
                <div class="col-md-3">
                    <span class="k-widget k-datepicker k-header ng-pristine ng-untouched ng-valid" style="width: 100%;"><span class="k-picker-wrap k-state-default"><input kendo-date-picker="" k-format="'dd/MM/yyyy'" ng-model="itemAdd.ngaySinh" style="width: 67%;" class="ng-pristine ng-untouched ng-valid k-input" data-role="datepicker" type="text" role="combobox" aria-expanded="false" aria-disabled="false"><span unselectable="on" class="k-select" aria-label="select" role="button"><span class="k-icon k-i-calendar"></span></span></span></span>
                </div>
            </div>
            <div class="row newspace">
                <div class="col-md-1" style="text-align:right;padding-top:5px;padding-left:0px;margin-left:32px"> Địa Chỉ</div>
                <div class="col-md-3">
                    <input type="text" id="txtDiaChi" name="txtThuoc" class="k-textbox ng-pristine ng-valid k-valid ng-touched" style="width:100%" ng-model="itemAdd.DiaChi" />
                </div>
            </div>
            <div class="row newspace">
                <div class="col-md-1" style="text-align:right;padding-top:5px;padding-left:0px;margin-left:32px"> Điện Thoại</div>
                <div class="col-md-3">
                    <input type="text" id="txtDiaChi" name="txtDienThoai" class="k-textbox ng-pristine ng-valid k-valid ng-touched" style="width:100%" ng-model="itemAdd.SDT" />
                </div>
            </div>
        </div>

       
        <div class="row" align="center">
            <div class="btn-row">
                <button class="btn btn-primary" type="submit" id="btnLuu" ng-click="btnLuu()">Lưu</button>
                <button type="button" class="btn btn-primary" id="btnHuy" ng-click="btnHuy()">Hủy</button>&nbsp;
            </div>
        </div>
   

    </form>
</div>
